.crp .poema {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-top: 2rem;
}

.crp .poema a {
  text-decoration: none;
  color: #2b2b2b;
  transition: color 0.5s ease, transform 0.4s ease;
}

.crp .poema a:hover {
  color: #ffd700;
  transform: translateX(6px);
}
.crp .poema a:visited {
  color: #967600;
}

@media (prefers-color-scheme: dark) {
  .crp {
    background: #3a3a3a;
    color: #fefda2;
  }

  .crp .poema a {
    color: #fefda2;
  }

  .crp .poema a:hover {
    color: #ffd700;
  }
  .crp .poema a:visited {
  color: #9b7a05;
}
}
